body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(38, 38, 59);
    color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: inline-flex;
    gap: 20px;
}
a {

}

.container.one {
    background-color: rgb(38, 38, 59);
}

.container.two {
    background-color: white;
}

.container.three {
    background-color: #E5E7EB;
}

.container.three {
    background-color: white;
}