body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(38, 38, 59);
    color: white;
    padding: 0px 10px;
    height: 40px;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: inline-flex;
    gap: 20px;
}
a {
    text-decoration: none;
    color: rgb(186, 184, 184);
}

.container.one {
    background-color: rgb(38, 38, 59);
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
}

.left-container h1 {
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}

.left-container h4 {
    color: rgb(186, 184, 184);
}

.left-container button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 110px;
    border-radius: 8px;
    
} 

.left-container a {
    color: white;
    font-size: 14px;
    font-weight: 800;
}

.container.two {
    background-color: white;
}

.container.three {
    background-color: #E5E7EB;
}

.container.three {
    background-color: white;
}